* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2vw;
  font-family: Arial, sans-serif;
}

#selects-div,
.error-modal,
.totalDiv {
  display: none;
}

.error-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffcccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.error-btn {
  padding: 10px 20px;
  border: none;
  color: #611a1a;
  border-radius: 20px;
  background-color: #ffcccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error-btn:hover {
  background-color: #e59e9e;
}

.totalDiv {
  width: 100%;
  gap: 5px;
}

.badge {
  font-size: 1.4rem !important;
}

@media (min-width: 1024px) {
  body {
    align-items: center;
  }
}
